/* ------------------------------------------------------------ *\
	accordion
\* ------------------------------------------------------------ */

.accordion {

	.accordion__section {
		margin-bottom: 9px;
	}

	.accordion__head a {
		background-color: $c-purple;
		color: $c-white;
		display: block;
		position: relative;
		text-decoration: none;
		padding: 14px 30px 14px 21px;

		@include breakpoint-down(mobile) {
			padding: 12px 26px 12px 12px;
		}
	}

	.accordion__head h5 {
		font-weight: 400;
		letter-spacing: -0.013em;
		line-height: 1.33;
		margin-bottom: 0;

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}

	.accordion__icon {
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		transition: transform .6s;

		@include breakpoint-down(mobile) {
			right: 12px;
			transform: none;
			top: 9px;
		}
	}

	.accordion__icon img {
		width: 16px;
		height: 10px;

	}

	.accordion__body {
		letter-spacing: -0.013em;
		padding: 30px 20px 3px;

		@include breakpoint-down(mobile) {
			font-size: 16px;
			line-height: 1.38;
			padding: 29px 10px 1px;
		}
	}

	.accordion__body p {
		margin-bottom: 18px;

		@include breakpoint-down(mobile) {
			margin-bottom: 22px;
		}
	}

	.is-current .accordion__icon {
		transform: translateY(-50%) rotate(180deg);

		@include breakpoint-down(mobile) {
			transform: rotate(180deg);
		}
	}
}
