/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}

.btn--purple {
	color: $c-white;
	background-color: $c-purple;
	padding: 16px 37px;
	transition: color .4s, background .4s;
}

.btn--purple:hover {
	color: $c-purple;
	background: #A5D1F4;
}

.btn--transparent {
	background-color: transparent;
	border: 2px solid #A5D1F4;
	letter-spacing: 0.029em;
	padding: 12px 47px;
	transition: background .3s;
}

.btn--transparent:hover {
	background-color: #A5D1F4;
}

.btn--view {
	font-size: 14px;
	letter-spacing: -0.013em;
	text-transform: none;
	text-decoration: underline;
	display: block;
	font-weight: 400;
	text-align: left;
	transition: color .3s;
}

.btn--view:hover {
	color: $c-purple;
}

.btn--shorter {
	padding: 12px 37px;
	transition: background .3s, color .3s;
}

.btn--shortest {
	padding: 12px 7px;
	transition: background .3s, color .3s;
}

.btn--shorter:hover {
	background-color: $c-white;
	color: $c-purple;
}

.btn--shortest:hover {
	background-color: $c-white;
	color: $c-purple;
}

.btn--alt {
	transition: background .3s, color .3s;

	@include breakpoint-down(mobile-medium) {
		width: 100%;
	}
}

.btn--alt:hover {
	background-color: $c-white;
	color: $c-purple;
}

.btn--large {
	padding: 13px 75px;
}
