/* ------------------------------------------------------------ *\
	callout
\* ------------------------------------------------------------ */

.callout {
	letter-spacing: 0.013em;
	line-height: 1.4;
	margin-bottom: 75px;

	@include breakpoint-down(tablet) {
		margin-bottom: 40px;
	}

	@include breakpoint-down(mobile) {
		margin-bottom: 55px;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin: 0 2px 27px;

		@include breakpoint-down(mobile) {
			font-size: 22px;
			margin: 0 2px 18px;
		}
	}

	p {
		margin: 0 6px 30px;

		@include breakpoint-down(mobile) {
			font-size: 16px;
			line-height: 1.4;
			margin: 0 0 31px;
		}
	}

	h5 {
		text-transform: uppercase;
		margin: 0 2px 16px;
		letter-spacing: -0.05em;

		@include breakpoint-down(mobile) {
			font-size: 16px;
			margin: 0 0 15px;
			letter-spacing: -0.013em;
		}
	}
}
