/* ------------------------------------------------------------ *\
	callout
\* ------------------------------------------------------------ */

.callout {
	letter-spacing: -0.013em;
	margin-bottom: 75px;

	h3 {
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin: 0 2px 27px;
	}

	p {
		margin: 0 6px 32px;
	}

	h5 {
		text-transform: uppercase;
		margin: 0 2px 16px;
	}
}
