/* ------------------------------------------------------------ *\
	card
\* ------------------------------------------------------------ */

.card {

	.card__image {
		margin-bottom: 24px;
		position: relative;

		@include breakpoint-down(tablet) {
			max-width: 364px;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 23px;
		}

		@include breakpoint-down(mobile-medium) {
			text-align: center;
		}
	}

	a {
		text-decoration: none;
	}

	.card__content h3 {
		color: $c-purple;
		margin-bottom: 21px;

		@include breakpoint-down(tablet) {
			font-size: 25px;
		}

		@include breakpoint-down(mobile) {
			font-size: 22px;
		}
	}

	.card__content {
		letter-spacing: -0.013em;

		@include breakpoint-down(tablet) {
			font-size: 16px;
		}
	}

	.card__content p {
		margin-bottom: 41px;

		@include breakpoint-down(mobile) {
			margin-bottom: 27px;
		}
	}

	.card__actions span {
		padding: 12px 76px;
		transition: background .3s;

		@include breakpoint-down(tablet) {
			padding: 12px 40px;
		}

		@include breakpoint-down(mobile-medium) {
			width: 100%;
		}
	}

	a:hover .card__actions span {
		background-color: #A5D1F4;
	}

	.card__actions--alt span {
		padding: 12px 15px;

		@include breakpoint-down(tablet) {
			padding: 12px;
		}
	}

	.card__member {
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		border: 4px solid $c-white;
		overflow: hidden;
		height: 135px;
		width: 135px;

		@include breakpoint-down(small-desktop) {
			height: 100px;
			width: 100px;
		}
	}
}

.card--alt {
	.card__actions span {
		padding: 12px 63px;

		@include breakpoint-down(mobile-medium) {
			width: 100%;
		}
	}
}
