/* ------------------------------------------------------------ *\
	cards
\* ------------------------------------------------------------ */

.cards {

	.cards__items {
		display: flex;
		align-items: center;
		margin: 0 -8px;
	}

	.cards__item {
		max-width: 33.33%;
		flex: 0 0 33.33%;
		padding: 0 8px;
	}
}
