/* ------------------------------------------------------------ *\
	copyright
\* ------------------------------------------------------------ */

.copyright {
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 1.88;
	font-size: 16px;

	@include breakpoint-down(mobile) {
		font-size: 14px;
		line-height: 2.14;
		margin-bottom: 10px;
	}
}
