/* ------------------------------------------------------------ *\
	Fields
\* ------------------------------------------------------------ */

.field {
	color: $c-purple;
	border: none;
	width: 100%;
	padding: 11px 15px;
}

/*  Field textarea  */
.field--textarea {
}
