/* ------------------------------------------------------------ *\
	filters
\* ------------------------------------------------------------ */

.filters {
	display: flex;
	margin-bottom: 39px;

	li {
		list-style: none;
	}

	li + li {
		margin-left: 10px;
	}

	a {
		border: 1px solid #CCCCCC;
		padding: 11px 42px;
		text-decoration: none;
		display: block;
		font-size: 18px;
		letter-spacing: -0.013em;
		line-height: 1.33;
		position: relative;
	}

	a:before {
		content: '';
		height: 10px;
		width: 10px;
		background-color: #fff;
		border: 3px solid #A5D1F4;
		border-radius: 50%;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		left: 28px;
	}

	.is-current a:before {
		background-color: #A5D1F4;
	}
}
