/* ------------------------------------------------------------ *\
	fundraisers
\* ------------------------------------------------------------ */

.fundraisers {

	.fundraisers__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
	}

	.fundraisers__item {
		max-width: 33.33%;
		flex: 0 0 33.33%;
		padding: 21px 8px 0;
	}
}
