/* ------------------------------------------------------------ *\
	fundraisers
\* ------------------------------------------------------------ */

.fundraisers {

	.fundraisers__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
	}

	.fundraisers__item {
		max-width: 33.33%;
		flex: 0 0 33.33%;
		padding: 21px 8px 0;

		@include breakpoint-down(mobile) {
			max-width: 50%;
			flex: 0 0 50%;
		}

		@include breakpoint-down(mobile-medium) {
			max-width: 100%;
			flex: 0 0 100%;
			padding: 20px 8px 0;
		}
	}
}
