/* ------------------------------------------------------------ *\
	list-names
\* ------------------------------------------------------------ */

.list-names {

	li {
		list-style: none;
		font-size: 18px;
		letter-spacing: -0.013em;
	}

	li + li {
		margin-top: 9px;
	}
}
