/* ------------------------------------------------------------ *\
	list-team
\* ------------------------------------------------------------ */

.list-team {
	margin-bottom: 19px;

	li {
		margin: 0 25px;
		padding: 0 13px;
		font-size: 18px;
		letter-spacing: -0.013em;

		@include breakpoint-down(small-desktop) {
			margin: 0 20px;
		}

		@include breakpoint-down(mobile) {
			margin-right: 0;
			padding-right: 0;
		}
	}

	li + li {
		margin-top: 9px;
	}

	span {
		display: inline-block;

		@include breakpoint-down(small-desktop) {
			font-size: 16px;
		}

		@include breakpoint-down(tablet) {
			display: block;
		}

		@include breakpoint-down(mobile) {
			display: inline-block;
		}

		@include breakpoint-down(mobile-small) {
			font-size: 14px;
		}
	}

	li:after{
		content: '';
		display: table;
		clear: both;
	}

	strong {
		display: inline-block;
		float: right;

		@include breakpoint-down(small-desktop) {
			font-size: 16px;
		}

		@include breakpoint-down(tablet) {
			display: block;
			float: left;
		}

		@include breakpoint-down(mobile) {
			display: inline-block;
			float: right;
		}

		@include breakpoint-down(mobile-small) {
			font-size: 14px;
		}
	}
}
