/* ------------------------------------------------------------ *\
	member
\* ------------------------------------------------------------ */

.member {

	.member__image {
		margin-bottom: 30px;
	}

	.member__content {
		letter-spacing: -0.013em;
		line-height: 1.33;
	}

	h5 {
		margin-bottom: 25px;
	}
}
