/* ------------------------------------------------------------ *\
	members
\* ------------------------------------------------------------ */

.members {

	.members__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	.members__item {
		max-width: 25%;
		flex: 0 0 25%;
		padding: 0 5px;

		@include breakpoint-down(mobile) {
			max-width: 50%;
			flex: 0 0 50%;
			margin-bottom: 32px;
		}
	}
}
