/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {

	@include breakpoint-down(tablet) {
		display: none;
	}


	& > ul {
		display: flex;
		margin-left: 44px;

		@include breakpoint-down(tablet) {
			display: block;
			margin-left: 0;
		}
	}

	li {
		list-style: none;
		position: relative;
	}

	a {
		color: $c-white;
		font-size: 16px;
		display: block;
		font-weight: 600;
		letter-spacing: -0.05em;
		text-decoration: none;
		position: relative;
		padding: 14px 3px 14px 6px;

		@include breakpoint-down(tablet) {
			font-size: 22px;
			letter-spacing: -0.02em;
		}
	}

	a img {
		margin: 0 6px;
	}

	a:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 90%;
		height: 3px;
		background-color: $c-purple;
		transform: scaleX(0);
		transition: transform .6s;
	}

	.is-showing:after {
		transform: scaleX(1);
		background-color: #4A1961;
		height: 5px;
		top: 115%;
	}

	a:hover:after {
		transform: scaleX(1);

		@include breakpoint-down(tablet) {
			transform: none;
		}
	}

	li:hover .dropdown {
		transform: scaleY(1);
		opacity: 1;

		@include breakpoint-down(tablet) {
			transform: none;
			opacity: 0;
		}
	}

	& > ul li + li {
		margin-left: 31px;

		@include breakpoint-down(tablet) {
			margin-left: 0;
			margin-top: 18px;
		}
	}

	li a:only-child img {
		display: none;
	}
}
