/* ------------------------------------------------------------ *\
	section
\* ------------------------------------------------------------ */

.section {
	color: $c-white;
	padding: 76px 0 335px;
	font-size: 28px;
	letter-spacing: -0.013em;
	line-height: 1.36;
	background: linear-gradient(180deg, #6E298D 63.66%, #F1B434 114.14%);

	@include breakpoint-down(tablet) {
		padding: 60px 0 240px;
		font-size: 25px;
	}

	@include breakpoint-down(mobile) {
		padding: 44px 0 282px;
		font-size: 22px;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: -0.02em;

		@include breakpoint-down(mobile) {
			font-size: 22px;
			margin-bottom: 19px;
		}
	}
}

.section--alt {
	margin-top: 20px;
	padding: 76px 0 50px;

	@include breakpoint-down(mobile) {
		margin-top: 8px;
		padding: 43px 0 47px;
	}

	p {
		margin-bottom: 110px;

		@include breakpoint-down(mobile) {
			/* margin-bottom: 93px; */
			margin-bottom: 46px;
		}
	}

	.section__block {
		margin-bottom: 58px;

		@include breakpoint-down(mobile) {
			margin-bottom: -8px;
		}
	}

	.section__block--alt {
		margin: -52px 0 35px;
	}
}

.section--larger {
	padding: 75px 0 290px;

	@include breakpoint-down(mobile) {
		padding: 46px 0 266px;
	}

	p {
		margin-bottom: 65px;
	}

	.section__block--alt {
		margin: 10px 0 30px;
	}
}

.section--lower {
	margin-top: 20px;
	padding: 69px 0 328px;

	@include breakpoint-down(mobile) {
		margin-top: 10px;
		padding: 45px 0 276px;
		font-size: 22px;
	}

	h3 {

		@include breakpoint-down(mobile) {
			font-size: 22px;
			line-height: 1.36;
			margin-bottom: 8px;
		}
	}
}
