/* ------------------------------------------------------------ *\
		section-sponsors-alt
\* ------------------------------------------------------------ */

.section-sponsors-alt {
	margin-top: -265px;
	padding-bottom: 25px;

	h3 {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin-bottom: 34px;
	}
}
