/* ------------------------------------------------------------ *\
	section-teams
\* ------------------------------------------------------------ */

.section-teams {
	padding: 74px 0 80px;

	h3 {
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin-bottom: 30px;
	}
}
