/* ------------------------------------------------------------ *\
	section-members
\* ------------------------------------------------------------ */

.section-members {
	padding: 61px 0 85px;

	@include breakpoint-down(mobile) {
		padding: 41px 0 104px;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin-bottom: 32px;

		@include breakpoint-down(mobile) {
			margin-bottom: 27px;
		}
	}
}
