/* ------------------------------------------------------------ *\
	section-cards
\* ------------------------------------------------------------ */

.section-cards  {
	margin: -256px 0 71px;


	h3 {
		text-transform: uppercase;
		color: $c-white;
		letter-spacing: -0.02em;
		margin-bottom: 31px;
	}
}
