/* ------------------------------------------------------------ *\
	section-sponsors
\* ------------------------------------------------------------ */

.section-sponsors {
	padding: 71px 0 56px;

	h3 {
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin-bottom: 18px;
	}

	.section__entry {
		max-width: 650px;
		letter-spacing: -0.013em;
		margin-bottom: 41px;
	}

	.section__content {
		margin-bottom: 16px;
	}

	.section__content h5 {
		margin-bottom: 16px;
	}
}
