/* ------------------------------------------------------------ *\
	section-questions
\* ------------------------------------------------------------ */

.section-questions {
	padding: 92px 0 61px;

	@include breakpoint-down(mobile) {
		padding: 39px 0 35px;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin-bottom: 29px;

		@include breakpoint-down(mobile) {
			margin-bottom: 22px;
		}
	}
}
