/* ------------------------------------------------------------ *\
	section-fundraisers
\* ------------------------------------------------------------ */

.section-fundraisers {
	color: $c-white;
	padding: 59px 0 353px;
	background: linear-gradient(to bottom, rgba(109,41,140,1) 0%,rgba(109,41,140,1) 74%,rgba(113,43,139,1) 74%,rgba(111,44,137,1) 74%,rgba(117,49,136,1) 76%,rgba(118,48,134,1) 76%,rgba(120,53,133,1) 77%,rgba(122,53,133,1) 77%,rgba(130,61,128,1) 80%,rgba(128,62,126,1) 80%,rgba(131,62,127,1) 80%,rgba(129,63,125,1) 80%,rgba(133,65,126,1) 80%,rgba(144,77,118,1) 84%,rgba(144,78,114,1) 84%,rgba(147,82,116,1) 85%,rgba(149,83,111,1) 86%,rgba(152,86,113,1) 87%,rgba(155,91,108,1) 88%,rgba(159,92,109,1) 88%,rgba(159,93,105,1) 89%,rgba(161,95,107,1) 89%,rgba(172,108,96,1) 93%,rgba(177,111,97,1) 94%,rgba(180,116,91,1) 95%,rgba(183,117,93,1) 96%,rgba(182,116,90,1) 96%,rgba(184,121,90,1) 97%,rgba(195,131,83,1) 100%);

	h3 {
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin-bottom: 15px;
	}
}
