/* ------------------------------------------------------------ *\
	section-articles-alt
\* ------------------------------------------------------------ */

.section-articles-alt {
	padding: 54px 0 8px;
	background: linear-gradient(to bottom, rgba(109,41,140,1) 0%,rgba(109,41,140,1) 74%,rgba(112,42,140,1) 74%,rgba(128,62,126,1) 80%,rgba(131,62,127,1) 80%,rgba(129,63,125,1) 80%,rgba(137,70,123,1) 82%,rgba(140,73,117,1) 83%,rgba(143,76,119,1) 84%,rgba(144,78,114,1) 85%,rgba(147,82,116,1) 86%,rgba(149,82,113,1) 87%,rgba(154,89,111,1) 88%,rgba(154,90,107,1) 88%,rgba(159,92,109,1) 89%,rgba(160,94,104,1) 90%,rgba(165,100,104,1) 91%,rgba(169,104,98,1) 93%,rgba(171,106,100,1) 93%,rgba(175,109,95,1) 94%,rgba(191,128,85,1) 100%);

	.section__callout {
		color: $c-white;
		margin-top: 72px;
	}
}
