/* ------------------------------------------------------------ *\
		sponsor-alt
\* ------------------------------------------------------------ */

.sponsor-alt {
	max-width: 33.33%;
	flex: 0 0 33.33%;
	padding: 0 8px;
	margin-bottom: 60px;

	@include breakpoint-down(mobile) {
		max-width: 100%;
		flex: 0 0 100%;
		padding: 0;
		margin-bottom: 41px;
	}

	.sponsor__image {
		margin-bottom: 22px;
	}

	.sponsor__content {
		line-height: 1.38;
		letter-spacing: -0.013em;

		@include breakpoint-down(mobile) {
			font-size: 16px;
		}
	}

	.sponsor__content p {
		margin-bottom: 41px;

		@include breakpoint-down(mobile) {
			margin-bottom: 25px;
		}
	}

	.sponsor__actions a {
		padding: 12px 66px;

		@include breakpoint-down(mobile-medium) {
			width: 100%;
		}
	}

	.sponsor__content h3 {
		color: $c-purple;
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin-bottom: 20px;

		@include breakpoint-down(mobile) {
			margin-bottom: 18px;
		}
	}
}
