/* ------------------------------------------------------------ *\
	sponsors
\* ------------------------------------------------------------ */

.sponsors {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;

	@include breakpoint-down(mobile-medium) {
		margin: 0;
	}
}
