/* ------------------------------------------------------------ *\
		sponsor-alt
\* ------------------------------------------------------------ */

.sponsor-alt {
	max-width: 33.33%;
	flex: 0 0 33.33%;
	padding: 0 8px;
	margin-bottom: 60px;

	.sponsor__image {
		margin-bottom: 22px;
	}

	.sponsor__content {
		line-height: 1.38;
		letter-spacing: -0.013em;
	}

	.sponsor__content p {
		margin-bottom: 34px;
	}

	.sponsor__actions a {
		padding: 12px 66px;
	}

	.sponsor__content h3 {
		color: $c-purple;
		text-transform: uppercase;
		letter-spacing: -0.02em;
		margin-bottom: 20px;
	}
}
