/* ------------------------------------------------------------ *\
	stat
\* ------------------------------------------------------------ */

.stat {
	max-width: 33.33%;
	flex: 0 0 33.33%;
	padding: 0 12px;

	.stat__actions a {
		margin-bottom: 35px;
	}
}
