/* ------------------------------------------------------------ *\
	stats
\* ------------------------------------------------------------ */

.stats {
	display: flex;
	margin: 0 -12px;

	@include breakpoint-down(mobile) {
		margin: 0;
		display: block;
	}
}
