/* ------------------------------------------------------------ *\
	teams
\* ------------------------------------------------------------ */

.teams {

	.teams__items {
		display: flex;
		margin: 0 -8px;
	}

	.teams__item {
		max-width: 33.33%;
		flex: 0 0 33.33%;
		padding: 0 8px;
	}
}
