<footer class="footer">
	<div class="footer__content">
		<div class="shell">
			<div class="footer__inner">
				<div class="footer__entry">
					<div class="logo footer__logo">
						<a href="#">
							<img src="assets/images/footer.png" alt="">
						</a>
					</div><!-- /.logo footer__logo -->

					<div class="copyright">
						<p>
							Copyright &copy; 2020 CAMH
							<br>
							Charitable Number #106932320RR0001
						</p>
					</div><!-- /.copyright -->
				</div><!-- /.footer__entry -->

				<div class="footer__entry">
					<ul class="footer-nav">
						<li>
							<a href="#">Register</a>
						</li>

						<li>
							<a href="#">Donate</a>
						</li>

						<li>
							<a href="#">How to Participate</a>
						</li>

						<li>
							<a href="#">Fundraising Information</a>
						</li>

						<li>
							<a href="#">Event Information</a>
						</li>

						<li>
							<a href="#">Impact</a>
						</li>

						<li>
							<a href="#">Faq</a>
						</li>

						<li>
							<a href="#">Gallery</a>
						</li>

						<li>
							<a href="mailto:sunrisechallenge@camh.ca">sunrisechallenge@camh.ca</a>
						</li>
					</ul><!-- /.footer-nav -->
				</div><!-- /.footer__entry -->
			</div><!-- /.footer__inner -->
		</div><!-- /.shell -->
	</div><!-- /.footer__content -->

	<div class="footer__bar">
		<div class="shell">
			<div class="contact footer__contact">
				<h6>Need Mental Health Help?</h6>

				<p>
					<a href="#">Visit Access CAMH</a>
					 or
					<a href="#">Contact the Hospital</a>
					<br>
					Toll-free at
					<a href="tel:18004636273">1.800.463.6273</a>
				</p>
			</div><!-- /.contact footer__contact -->
		</div><!-- /.shell -->
	</div><!-- /.footer__bar -->
</footer><!-- /.footer -->
