<header class="header">
	<div class="header__bar">
		<div class="shell">
			<div class="header__login">
				<div class="login">
					<a href="#login" class="js-modal">
						<svg id="contact_page-24px" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
						  <path id="Shape" d="M0,12v-.855A3.016,3.016,0,0,1,1.83,8.37a10.426,10.426,0,0,1,8.34,0A3.016,3.016,0,0,1,12,11.145V12ZM3,3A3,3,0,1,1,6,6,3.009,3.009,0,0,1,3,3Z" fill="#6e298d"/>
						</svg>

						<span>Login</span>
					</a>
				</div><!-- /.login header__login -->
			</div><!-- /.header__login -->
		</div><!-- /.shell -->
	</div><!-- /.header__bar -->

	<div class="header__inner">
		<div class="shell">
			<div class="header__entry">
				<div class="mobile-nav js-mobile-nav">
					<span></span>

					<span></span>

					<span></span>
				</div><!-- /.mobile-nav js-mobile-nav -->

				<div class="header__content">
					<div class="logo header__logo">
						<a href="#">
							<img src="assets/images/logo.png" alt="">
						</a>

						<a href="#" class="header__logo-purple">
							<img src="assets/images/logo-purple.png" alt="">
						</a>
					</div><!-- /.logo header__logo -->

					<nav class="nav js-nav header__nav">
						<ul>
							<li>
								<a href="#">
									<span>Get Involved</span>

									<img src="assets/images/svg/arrow-down.svg" alt="">
								</a>

								<ul class="dropdown">
									<li>
										<a href="#">How to Participate</a>
									</li>

									<li>
										<a href="#">Fundraising Information</a>
									</li>
								</ul><!-- /.dropdown -->
							</li>

							<li>
								<a href="#">
									<span>About</span>

									<img src="assets/images/svg/arrow-down.svg" alt="">
								</a>

								<ul class="dropdown">
									<li>
										<a href="#">Event Information</a>
									</li>

									<li>
										<a href="#">Impact</a>
									</li>
								</ul><!-- /.dropdown -->
							</li>

							<li>
								<a href="#">
									<span>FAQ</span>

									<img src="assets/images/svg/arrow-down.svg" alt="">
								</a>
							</li>

							<li>
								<a href="#">
									<span>Gallery</span>

									<img src="assets/images/svg/arrow-down.svg" alt="">
								</a>
							</li>
						</ul>
					</nav><!-- /.nav -->
				</div><!-- /.header__content -->

				<div class="nav-access header__nav-access">
					<div class="login login--alt">
						<a href="#login" class="js-modal">
							<svg id="contact_page-25px" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
							  <path id="Shape1s" d="M0,12v-.855A3.016,3.016,0,0,1,1.83,8.37a10.426,10.426,0,0,1,8.34,0A3.016,3.016,0,0,1,12,11.145V12ZM3,3A3,3,0,1,1,6,6,3.009,3.009,0,0,1,3,3Z" fill="#A5D1F4"/>
							</svg>

							<span>Login</span>
						</a>
					</div><!-- /.login login-/-alt -->

					<ul>
						<li>
							<a href="#register" class="btn btn--purple js-modal">Register</a>
						</li>

						<li>
							<a href="#donate" class="btn btn--purple js-modal">Donate</a>
						</li>
					</ul>
				</div><!-- /.nav-access header__nav-access -->
			</div><!-- /.header__inner -->
		</div><!-- /.shell -->
	</div><!-- /.header__inner -->
</header><!-- /.header -->
